.buttonstyle
{
    font-size: 30px;
    border:1px solid black;
    height: 70px;
    width: 20%;
    float:left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}