.DisplayContainer{
    border:1px solid black;
    margin-top: 20px;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 1px 2px 2px #acacac;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.Placeholder
{
    width: 50%;
}